@import '_variables.scss';

.container {
	max-width: 600px;
	width: 100%;
	margin: auto;
	background: #eee;

	.sidebar,
	.main {
		padding: 10px;
	}

	.main {
		margin-left: 220px;
		min-height: 100vh;
	}

	.sidebar {
		width: 200px;
		float: left;
	}

	&.right-nav {
		.sidebar {
			float: right;
		}
		.main {
			margin-left: 0;
			border-left: none;
			margin-right: 220px;
			border-right: 2px solid #333;
		}
	}
}
